HTML {
    padding: 5vh;
    overflow: hidden;
    height: 95%;
    display: flex;
    background: rgb(170, 63, 63);
    background: linear-gradient(248deg, rgba(170, 63, 63, 1) 0%, rgba(204, 107, 73, 1) 25%, rgba(0, 212, 255, 1) 100%);
}

@font-face {
    font-family: "Pokemon";
    src: url(./Pokemones/fonts/Pokemon.ttf) format("truetype");
}


body {
    font-family: "Pokemon", sans-serif;
    height: 87.5vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 150px;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
}


#enemy,
#mascotas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 25px;
}

/* Selector de tipo - por que un tipo de html */
h1 {
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
    align-self: center;
    font-size: 16px;
    margin: 25px;
    max-width: 700px;
}

h2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 45px;
    color: white;
    font-size: 16px;
    margin: 10px;
    margin-left: 0;
}

#encabezado {
    margin-top: 20px;
    width: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
}

/* Selector tipo clase */
.subtitulos {
    color: blue;
}

/* Selector de tipo id */

#logo-pokemon {
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 200px;
    max-height: 50px;
    /* height: 100px; */
}

/* .status-bar {
    position: relative;
    width: 300px;
    height: 40px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.status-bar .bar {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 10px;
    width: 200px;
    background-color: #00FF00;
}

.status-bar .label {
    position: absolute;
    top: 5px;
    left: 220px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.status-bar .value {
    position: absolute;
    top: 20px;
    left: 220px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
} */

label {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    width: 120px;
    height: 85px;
    box-sizing: border-box;
    font-size: 10px;
}


label.selectedPokemon {
    background-color: rgba(255, 255, 255, 0.6);
    border: 4px solid rgba(0, 212, 255, 1);
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
}

label.deadPokemon {
    background-color: rgba(178, 38, 38, 0.3);
    border: 2px solid red;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
}

label.selectedEnemy {
    background-color: rgba(255, 255, 255, 0.6);
    border: 4px solid rgba(204, 107, 73, 1);
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
}

input {
    height: 20px;
    width: 20px;
    display: none;
}

label img {
    width: 45px;
    height: 45;
}

button {
    font-size: 16px;
    background-color: transparent;
    color: rgba(170, 63, 63, 1);
    padding: 10px 20px;
    border: 4px solid rgba(170, 63, 63, 1);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 33px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button:disabled {
    background-color: #ccc; /* gray color */
    color: rgba(170, 63, 63, 0.5); /* half-opacity red */
    border-color: #ccc; /* gray color */
    cursor: not-allowed;
  }

p {
    margin-left: 30px;
    padding: 5px;
    font-size: 12px;
    
}

#Status {
    width: 72.5vw;
    min-width: 65vw;
    display: flex;
    min-height: 145px;
    align-items: center;
    justify-content: center;
    margin: 0px auto; /* Add margin */
    border: 3px solid black; /* Add border */
    border-radius: 10px; /* Add border radius */
    max-width: 1100px;
    margin-left: 37px;
    margin-right: 37px;
    padding: 10px;
  }
#Status-2 {
    width: 71vw;
    width: inherit;
    border: 3px solid black; /* Add border */
    border-radius: 5px; /* Add border radius */
    max-width: auto;
}

section.sytle {
    display: flex;
}


#Log_de_ataques { 
    display: flex;
    align-content: center;
    flex-direction: column;
    width: inherit;
    height: 15vh;
    min-height: 120px;
    /* border: 10px solid red ; */
    overflow-y: auto;
    margin-top: 20px;
}

#botones {
    display: flex;
    flex-direction: row;
}


  